
.list{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: "Poppins";
  height: 100vh;
}

.list-client {
  border-style: solid;
  border-color: darkblue;
  border-width: 5px;
  border-radius: 2%;
  padding:18px;
}
